body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.collapsible-header {
  padding-top: 10px;
}

.input-field {
  display: inline-block;
  width: 50%;
}
