body {
  background-color: #DFDCE3;
}
.header{
  text-align: center;
  background-color: #4ABDAC;
  width: 100%;
  height: 200px;
}
.header h1 {
  font-weight: bold;
  padding: 2.2rem;
  margin: 0 0 0 0;
}
.main_body {
  padding: 50px;
}
a {
  color: #00B7FF;
}

.collapsible-header {
  padding-top: 10px;
}

.input-field {
  width: 20% - 20px;
  display: inline-block;
}
.side-nav {
  background-color: #F7B733;
}
.side-nav > li{
  padding: 10px;
  text-align: center;
}
.nav-text {
  color: #000;
  background-color: #DFDCE3;
}
.choice_body {
  width: 100%;
}

/*Place holder text colour change*/
input::-webkit-input-placeholder {
color: #000 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #000 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #000 !important;
}

input:-ms-input-placeholder {
color: #000 !important;
}
